<div id="unused" class="tab-pane fade">
  <p class="note">These are variables that are available but never used in their corresponding abilities.<br>
    Variables of the form "eX" (such as e1, e2, e3) are found in an ability's "effectBurn" field.<br>
    All other variables are found in an ability's "vars" field.</p><br>
  
  <% buttons = ['q', 'w', 'e', 'r'] %>
  <% Champion.order(:champ_name_id).each do |champ| %>
    <% clean = true %>
    <% buttons.each do |button| %>
      <% if !champ[:unused_vars][button].empty? %>
        <% clean = false %>
        <% break %>
      <% end %>
    <% end %>
    
    <% if clean == false %>
      <h3 class="missingdata"><a href=<%= "/champions/#{champ[:champ_name_id]}" %>><%= champ[:name] %></a></h3>
      
      <% buttons.each do |button| %>
        <% unused_vars = champ[:unused_vars][button] %>
        <% if !unused_vars.empty? %>
          <p class="unused"><%= "#{button.upcase}: #{unused_vars.length} unused variable(s)" %></p>
          <% unused_vars.each do |var, value| %>
            <p class="unused vars"><%= "#{var}: #{value}" %></p>
          <% end %>
        <% end %>
      <% end %>
      <br>
    <% end %>
    
  <% end %>
</div>