<div> 
  <ul class="nav nav-pills nav-justified white roles">
    <li class="active"><a class="white" data-toggle="tab" href="#All">All</a></li>
    <li><a class="white roles" data-toggle="tab" href="#Assassin">Assassin</a></li>
    <li><a class="white roles" data-toggle="tab" href="#Fighter">Fighter</a></li>
    <li><a class="white roles" data-toggle="tab" href="#Mage">Mage</a></li>
    <li><a class="white roles" data-toggle="tab" href="#Marksman">Marksman</a></li>
    <li><a class="white roles" data-toggle="tab" href="#Support">Support</a></li>
    <li><a class="white roles" data-toggle="tab" href="#Tank">Tank</a></li>
  </ul>
  <div class="tab-content">
    <% @types = ["All", "Assassin", "Fighter", "Mage", "Marksman", "Support", "Tank"] %>
    <% @types.each do |type| %>
      <% @type = type %>
      <%= render 'champs_grid' %>
    <% end %>
  </div>
</div>

<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-77166231-1', 'auto');
  ga('send', 'pageview');

</script>