<div> 
  <ul class="nav nav-pills nav-justified white roles">
    <li class="active"><a class="white" data-toggle="tab" href="#All">All</a></li>
    <li><a class="white roles" data-toggle="tab" href="#Assassin">Assassin</a></li>
    <li><a class="white roles" data-toggle="tab" href="#Fighter">Fighter</a></li>
    <li><a class="white roles" data-toggle="tab" href="#Mage">Mage</a></li>
    <li><a class="white roles" data-toggle="tab" href="#Marksman">Marksman</a></li>
    <li><a class="white roles" data-toggle="tab" href="#Support">Support</a></li>
    <li><a class="white roles" data-toggle="tab" href="#Tank">Tank</a></li>
  </ul>
  <div class="tab-content">
    <% @types = ["All", "Assassin", "Fighter", "Mage", "Marksman", "Support", "Tank"] %>
    <% @types.each do |type| %>
      <% @type = type %>
      <%= render 'champs_grid' %>
    <% end %>
  </div>
</div>