<p class="note">A missing set of values is a set of missing information such as base damages or scaling numbers.<br>
  For example, there are 2 sets of missing values for "deals {{ eX }} + {{ fX }} damage" where eX and fX are missing.</p><br><br>

<% Champion.order(:champ_name_id).each do |champ| %>
  <% buttons = ['Q', 'W', 'E', 'R'] %>
  <% missing_data = [champ[:missing_q],
                     champ[:missing_w],
                     champ[:missing_e],
                     champ[:missing_r]] %>
  <% if missing_data.count(nil) != 4 or champ[:bad_passive] == true %>
    <h3 class="missingdata"><a href=<%= "/champions/#{champ[:champ_name_id]}" %>><%= champ[:name] %></a></h3>
    
    <% if champ[:bad_passive] == true %>
      <p class="missingdata"><%= "Passive description is missing." %></p>
    <% end %>
    
    <% for i in 0..3 %>
      <% if missing_data[i] != nil %>
        <p class="missingdata"><%= "#{buttons[i]} is missing #{missing_data[i]} set(s) of values." %></p>
      <% end %>
    <% end %>
    <br>
    
  <% end %>
<% end %>