<p>An empty set of values is a set of values that has been removed due to redundancy, e.g. "...increased by 200% ({{ fX }})" where fX used to be "2.0" but was removed.</p>
<p>A missing set of values is a set of missing information such as base damages or scaling values, e.g. 2 sets of missing data for "deals {{ eX }} + {{ fX }} damage" where eX and fX are missing.</p>

<% @champion.missing_data.each do |champ_name, data| %>
  <% if !data.empty? %>
    <h3 class="missingdata"><%= champ_name %></h3>
    <% data.each do |line| %>
      <p class="missingdata"><%= line %></p>
    <% end %>
  <% end %>
<% end %>