<div class="container">
  <h2 class="champs-table-title">Champion Index</h2>
  <ul class="nav nav-pills nav-justified white stats">
    <li class="active"><a class="white stats" data-toggle="tab" href="#general">General Stats</a></li>
    <li><a class="white stats" data-toggle="tab" href="#detailedmin">Level 1 Stats</a></li>
    <li><a class="white stats" data-toggle="tab" href="#detailedmax">Level 18 Stats</a></li>
  </ul>
  
  <input class="all" type="checkbox" value="all">All
  <br/>
  <input class="assassin" type="checkbox" value="Assassin">Assassin
  <br/>
  <input class="fighter" type="checkbox" value="Fighter">Fighter
  <br/>
  <input class="mage" type="checkbox" value="Mage">Mage
  <br/>
  <input class="marksman" type="checkbox" value="Marksman">Marksman
  <br/>
  <input class="support" type="checkbox" value="Support">Support
  <br/>
  <input class="tank" type="checkbox" value="Tank">Tank
  <br/>
  
  <div class="tab-content">
    <%= render 'general_stats_table' %>
    
    <% @table_type = 'min' %>
    <%= render 'detailed_stats_table' %>
    
    <% @table_type = 'max' %>
    <%= render 'detailed_stats_table' %>
  </div>
</div>

<script>
  $("input:checkbox").click(function () {
    var showAll = true;
    $('tr').not('.first').hide();
    $('input[type=checkbox]').each(function () {
      if ($(this)[0].checked) {
        showAll = false;
        var value = $(this).val();            
        $('td' + '[rel="' + value + '"]').parent('tr').show();
      }
    });
    if(showAll){
        $('tr').show();
    }
  });
</script>