/*******************************************************/
/************** mixins, variables, etc. ****************/
/*******************************************************/

$gray-dark: #333;
$gray-medium-light: #EAEAEA;
$gray-medium: #A9A9A9;
$red: #d9534f;
$green: #5cb85c;
$blue: #337ab7;
$purple: #6f5499;

@mixin box_sizing {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

// Aatrox bonus attack damage.
.colorF88017 {
  color: #F88017;
}

/*******************************************************/
/********************** universal **********************/
/*******************************************************/

.center {
  text-align: center;
  h1 {
    margin-bottom: 10px;
  }
}

div.jumbotron {
 padding-top: 35px;
 padding-bottom: 30px;
 p {
   margin-bottom: 0px;
 }
}

.container-fluid {
  margin-right: auto;
  margin-left: auto;
  max-width: 1170px;
  .jumbotron {
    border-radius: 10px;
    padding-top: 35px;
    padding-left: 30px;
    padding-right: 30px;
  }
}

td {
  white-space: nowrap;
}

p.invisible {
  visibility: hidden;
}

div.progress {
  margin: 0px;
  -webkit-box-shadow: none;
  box-shadow: none;
}
  
/*******************************************************/
/*********************** header ************************/
/*******************************************************/
li.version {
  font-size: 12px;
  overflow: hidden;
  color: white;
}

#nav {
  top: 0;
}

#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: white;
  letter-spacing: -1px;
  padding-left: 9px;
  padding-top: 9px;
  font-weight: bold;
  text-decoration: none;
  &:hover {
    color: #E5E4E2;
  }
}

/*******************************************************/
/*********************** footer ************************/
/*******************************************************/

footer {
  padding-top: 100px;
  clear: both;
  float: bottom;
  overflow: hidden;
  a {
    color: $red;
    &:hover {
      color: white;
    }
  }
  small {
    float: left;
  }
  ul {
    float: right;
    list-style: none;
    li {
      float: left;
      margin-left: 15px;
    }
  }
}

/*******************************************************/
/********************** homepage ***********************/
/*******************************************************/

div.champions-grid {
  text-align: center;
}

div.champ-img-square {
  display: inline-block;
  overflow: hidden;
  padding: 10px;
  padding-bottom: 5px;
  margin: 10px;
  border-radius: 10px;
  text-align: center;
  background-color: $gray-medium-light;
  &:hover {
    background-color: $gray-medium;
  }
  img {
    border-radius: 10px;
  }
  p {
    font-size: 18px;
    margin: 0px;
    color: $gray-dark;
  }
  a {
    text-decoration: none;
  }
}

/*******************************************************/
/******************** champion page ********************/
/*******************************************************/

//----------------------------------//
//            name & stats          //
//----------------------------------//

div.champ-img {
  float: left;
  margin-right: 30px;
  img.champ-img {
    border-radius: 10px;
    max-width: 100%;
  }
}

div.champ-info {
  padding: 0px;
  overflow: hidden;
}

div.champ-title {
  padding-bottom: 0px;
  border-bottom: 3px solid $gray-medium;
  margin-bottom: 30px;
  overflow: hidden;
  h1.champ-name, h3.champ-title {
    display: inline-block;
    margin: 0px;
  }
  h3.champ-title {
    margin-left: 5px;
  }
}

div.stats-summary {
  overflow: hidden;
  table {
    width: 100%;
  }
  div.progress {
    margin-left: 10px;
    background-color: white;
  }
  .progress-bar.attack {
    background-color: $red;
  }
  .progress-bar.defense {
    background-color: $green;
  }
  .progress-bar.magic {
    background-color: $blue;
  }
  .progress-bar.difficulty {
    background-color: $purple;
  }
}

div.stats {
  overflow: hidden;
  padding-left: 15px;
}

table.stats {
  padding: 0px;
  margin-top: 40px;
  td {
    width: 1;
  }
  td.stat-label {
    text-align: right;
  }
  td.stat-number {
    text-align: center;
  }
  td.stat-number-min {
    text-align: right;
    padding-left: 5px;
  }
  td.stat-number-max {
    text-align: left;
  }
  p {
    font-size: 19px;
    line-height: 1.3;
  }
  tr.h-line {
    line-height: 1px;
    p {
      padding-bottom: 5px;
    }
  }
}

//----------------------------------//
//          spells & passive        //
//----------------------------------//

// spell img, name, cooldown, cost, range
div.spell-top, div.passive-top {
  overflow: hidden;
}

// spell description
div.spell-bottom, div.passive-bottom {
  padding-top: 20px;
  margin-top: -3px;
  border-top: 3px solid $gray-medium;
  margin-left: 7px;
  margin-right: 7px;
}

// spell cooldown (and name)
div.spell-dynamics {
  float: left;
}

// spell cost and range
div.spell-statics {
  float: right;
  padding-right: 7px;
  p.cost {
    float: right;
    clear: both;
  }
  p.cooldown {
    float: right;
  }
}

div.spell-img, div.passive-img {
  float: left;
  margin-right: 15px;
  img {
    border-radius: 10px;
    border: 3px solid $gray-dark;
  }
}

h2.spell-name, h2.passive-name {
  overflow: hidden;
  margin: 0px;
  padding: 0px;
}

p.cooldown, p.cost, p.range, p.invisible {
  margin-top: 0px;
  margin-bottom: 0px;
  margin-right: 0px;
}

//----------------------------------//
//               Lore               //
//----------------------------------//

div.lore {
  h2 {
    border-bottom: 3px solid $gray-medium;
    margin-top: 0px;
    margin-bottom: 20px;
    padding-bottom: 5px;
  }
}

/*******************************************************/
/******************** mobile changes *******************/
/*******************************************************/

@media (max-width: 768px) {
  
  /* Homepage */
  div.champ-img-square {
    img {
    }
  }
  
  /* Champion Page */
  div.champ-title {
    padding-bottom: 5px;
    margin-bottom: 20px;
    h1.champ-name,  h3.champ-title {
      display: block;
      float: none;
      text-align: center;
      margin: 0px;
    }
  }
  
  div.champ-details {
    div.champ-img {
      float: none;
      text-align: center;
      margin: 0px;
      margin-bottom: 20px;
    }
  }
  
  div.stats_summary {
    table {
      width: 100%;
    }
  }
  
  div.stats {
    padding: 0px;
  }
  
  table.stats {
    margin-top: 15px;
    width: 100%;
    p {
      font-size: 17px;
      line-height: 1.2;
    }
    tr.h-line {
      line-height: 1px;
      p {
        padding-bottom: 0px;
      }
    }
  }
  
  div.spell-img, div.passive-img {
    float: none;
    margin-right: 0px;
    text-align: center;
    padding-bottom: 20px;
  }

  div.spell-dynamics, div.passive-dynamics {
    float: none;
    h2.spell-name, h2.passive-name {
      text-align: center;
      padding-bottom: 10px;
    }
    p.invisible {
      display: none;
    }
  }

  div.spell-statics {
    float: left;
    padding-right: 0px;
    p.cost {
      float: left;
      clear: both;
    }
    p.cooldown {
      float: left;
    }
  }

  div.spell-bottom, div.passive-bottom {
    padding-top: 20px;
    margin-top: 5px;
    border-top: 3px solid $gray-medium;
    margin-left: 0px;
    margin-right: 0px;
  }

  div.lore {
    h2 {
      text-align: center;
    }
  }
}