/*******************************************************/
/************** mixins, variables, etc. ****************/
/*******************************************************/

$gray-dark: #333;
$gray-medium-dark: #585858;
$gray-medium-light: #EAEAEA;
$gray-medium: #A9A9A9;
$red: #d9534f;
$green: #5cb85c;
$blue: #337ab7;
$purple: #6f5499;

@mixin box_sizing {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

//----------------------------------//
//   colors used in descriptions   //
//----------------------------------//

// colors obtained by running lib/scripts/get_spell_colors.rb
.colorF88017 {
  color: #F88017;
}
.colorFF9900 {
  color: #FF9900;
}
.colore60000 {
  color: #e60000;
}
.color9900ff {
  color: #9900ff;
}
.colorCC3300 {
  color: #CC3300;
}
.color99FF99 {
  color: #99FF99;
}
.colorFF8C00 {
  color: #FF8C00;
}
.colorFFFFFF {
  color: #FFFFFF;
}
.colorFFEB7F {
  color: #FFEB7F;
}
.color308BDB {
  color: #308BDB;
}
.coloreeeeee {
  color: #eeeeee;
}
.colorEED6AF {
  color: #EED6AF;
}
.colorFF3300 {
  color: #FF3300;
}
.colorFFF673 {
  color: #FFF673;
}
.colorFFCC00 {
  color: #FFCC00;
}
.colorDDDD77 {
  color: #DDDD77;
}
.colorFFFF00 {
  color: #FFFF00;
}
.colorFF00FF {
  color: #FF00FF;
}
.color32CD32 {
  color: #32CD32;
}
.color9999A8 {
  color: #9999A8;
}
.colorFF0000 {
  color: #FF0000;
}
.colorF50F00 {
  color: #F50F00;
}
.colorFFFF66 {
  color: #FFFF66;
}
.colorD4BD22 {
  color: #D4BD22;
}
.colorFFDD00 {
  color: #FFDD00;
}
.colorffd700 {
  color: #ffd700;
}
.color33FF33 {
  color: #33FF33;
}
.colorFFDD77 {
  color: #FFDD77;
}
.colorFFFF99 {
  color: #FFFF99;
}
.color85FFAD {
  color: #85FFAD;
}
.color3399FF {
  color: #3399FF;
}
.color669900 {
  color: #669900;
}
.colorcccccc {
  color: #cccccc;
}
.colorFF5802 {
  color: #FF5802;
}
.color44DDFF {
  color: #44DDFF;
}
.color00DD33 {
  color: #00DD33;
}
.colorFF9999 {
  color: #FF9999;
}
.colorCCFF99 {
  color: #CCFF99;
}
.color88FF88 {
  color: #88FF88;
}
.color5555FF {
  color: #5555FF;
}
.colorFFFF33 {
  color: #FFFF33;
}
.colorFFAA33 {
  color: #FFAA33;
}
.colorF0F2B1 {
  color: #F0F2B1;
}
.colorFF6633 {
  color: #FF6633;
}
.colorEDDA74 {
  color: #EDDA74;
}
.colorBB77FF {
  color: #BB77FF;
}
.color919191 {
  color: #919191;
}
.colorFFE076 {
  color: #FFE076;
}
.colorDDDDDD {
  color: #DDDDDD;
}
.color0bf7de {
  color: #0bf7de;
}
.coloree2222 {
  color: #ee2222;
}
.color0000FF {
  color: #0000FF;
}
.colorFFD700 {
  color: #FFD700;
}
.color99ff99 {
  color: #99ff99;
}
.colorFFB3B3 {
  color: #FFB3B3;
}
.color6655CC {
  color: #6655CC;
}
.colorD41919 {
  color: #D41919;
}

/*******************************************************/
/********************** universal **********************/
/*******************************************************/

body {
  background-color: #1D1D1D;
}

.center {
  text-align: center;
  h1 {
    margin-bottom: 10px;
  }
}

div.jumbotron {
 padding-top: 35px;
 padding-bottom: 30px;
 background-color: $gray-dark;
 p {
   color: $gray-medium-light;
   margin-bottom: 0px;
 }
 li {
   color: $gray-medium-light;
   font-size: 18px;
 }
 h1, h2, h3 {
   color: $gray-medium-light;
 }
}

.container-fluid {
  margin-right: auto;
  margin-left: auto;
  max-width: 1170px;
  .jumbotron {
    border-radius: 10px;
    padding-top: 35px;
    padding-left: 30px;
    padding-right: 30px;
  }
}

td {
  white-space: nowrap;
}

p.invisible {
  visibility: hidden;
}

div.progress {
  margin: 0px;
  -webkit-box-shadow: none;
  box-shadow: none;
}

html {
  overflow-y: scroll;
}

/*******************************************************/
/*********************** header ************************/
/*******************************************************/

.navbar-inverse {
  background-color: black;
  border: none;
}

.navbar-inverse .navbar-nav > li > a {
  font-size: 15px;
  font-weight: bold;
  color: white;
  &:hover {
    color: $gray-medium;
  }
}

#nav {
  top: 0;
}

#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: white;
  letter-spacing: -1px;
  padding-left: 9px;
  padding-top: 9px;
  font-weight: bold;
  text-decoration: none;
  &:hover {
    color: $gray-medium;
  }
}

/*******************************************************/
/*********************** footer ************************/
/*******************************************************/

footer {
  padding-top: 100px;
  float: bottom;
  overflow: hidden;
  a {
    color: white;
    &:hover {
      color: $gray-medium;
    }
  }
  small {
    font-size: 12px;
    float: left;
  }
  ul {
    font-size: 12px;
    float: right;
    list-style: none;
    li {
      float: left;
    }
  }
}

li.version {
  font-size: 12px;
  overflow: hidden;
  color: white;
  margin-left: 15px;
}

/*******************************************************/
/********************** homepage ***********************/
/*******************************************************/

ul.roles {
  a {
    margin-bottom: 10px;
  }
}

div.champions-grid {
  text-align: center;
}

div.champ-img-square {
  display: inline-block;
  overflow: hidden;
  padding: 10px;
  padding-bottom: 5px;
  margin: 10px;
  border-radius: 10px;
  text-align: center;
  background-color: $gray-dark;
  &:hover {
    background-color: $gray-medium;
    border-color: $gray-dark;
    p {
      color: black;
    }
  }
  img {
    border-radius: 10px;
  }
  p {
    font-size: 18px;
    margin: 0px;
    color: $gray-medium-light;
    &:hover {
      color: black;
    }
  }
  a {
    text-decoration: none;
  }
}

/*******************************************************/
/************************ index ************************/
/*******************************************************/

h2.champs-table-title {
  color: white;
}

.nav-pills > li.active > a, .nav-pills > li.active > a:hover, .nav-pills > li.active > a:focus {
  color:black;
  background-color: $gray-medium;
}

.nav-tabs > li > a, .nav-pills > li > a {
  margin-left: 5px;
  margin-right: 5px;
}

ul.stats {
  a {
    margin-bottom: 15px;
  }
}

div.checkboxes {
  width: 100%;
  padding-bottom: 10px;
  label {
    color: white;
  }
  span {
    padding-left: 3px;
    padding-right: 20px;
  }
}

a.white {
  font-size: 18px;
  background-color: $gray-dark;
  color: $gray-medium-light;
  &:hover {
    background-color: $gray-medium;
    color: black;
  }
}

table.champs-table-general, table.champs-table-detailed {
  overflow-x: auto;
  background-color: white;
  text-align: center;
  border: 3px solid gray;
  width: 100%;
  thead {
  }
  th {
    text-align: center;
    &:hover {
      cursor: pointer;
    }
  }
  a.name {
    color: black;
  }
  td.name {

  }
  td.attack {
    color: $red;
  }
  td.defense {
    color: $green;
  }
  td.magic {
    color: $blue;
  }
  td.difficulty {
    color: $purple;
  }
  .energy, .energyregen {
    color: orange;
  }
}

.table > thead > tr > th {
  vertical-align: middle;
}

/*******************************************************/
/******************** champion page ********************/
/*******************************************************/

//----------------------------------//
//            name & stats          //
//----------------------------------//

.jumbotron.champ {
}

div.champ-img {
  float: left;
  margin-right: 30px;
  img.champ-img {
    border-radius: 10px;
    max-width: 100%;
  }
}

div.champ-info {
  padding: 0px;
  overflow: hidden;
}

div.champ-title {
  padding-bottom: 0px;
  border-bottom: 3px solid $gray-medium;
  margin-bottom: 30px;
  overflow: hidden;
  h1.champ-name, h3.champ-title {
    display: inline-block;
    margin: 0px;
  }
  h3.champ-title {
    margin-left: 5px;
  }
}

div.stats-summary {
  overflow: hidden;
  table {
    width: 100%;
  }
  div.progress {
    margin-left: 10px;
    background-color: white;
  }
  .progress-bar.attack {
    background-color: $red;
  }
  .progress-bar.defense {
    background-color: $green;
  }
  .progress-bar.magic {
    background-color: $blue;
  }
  .progress-bar.difficulty {
    background-color: $purple;
  }
}

div.stats {
  overflow: hidden;
  padding-left: 15px;
}

table.stats {
  padding: 0px;
  margin-top: 40px;
  td {
    width: 1;
  }
  td.stat-label {
    text-align: right;
  }
  td.stat-number {
    text-align: center;
  }
  td.stat-number-min {
    text-align: right;
    padding-left: 5px;
  }
  td.stat-number-max {
    text-align: left;
  }
  p {
    font-size: 19px;
    line-height: 1.3;
  }
  tr.h-line {
    line-height: 1px;
    p {
      padding-bottom: 5px;
    }
  }
}

//----------------------------------//
//          spells & passive        //
//----------------------------------//

// spell img, name, cooldown, cost, range
div.spell-top, div.passive-top {
  overflow: hidden;
}

div.secondary-spell {
  padding-top: 35px;
}

// spell description
div.spell-bottom, div.passive-bottom {
  padding-top: 20px;
  margin-top: -3px;
  border-top: 3px solid $gray-medium-dark;
  margin-left: 7px;
  margin-right: 7px;
}

// spell range (and name)
div.spell-dynamics {
  float: left;
}

// spell cost and cooldown
div.spell-statics {
  float: right;
  padding-right: 7px;
  p.cost {
    float: right;
    clear: both;
  }
  p.cooldown {
    float: right;
  }
}

div.spell-img, div.passive-img {
  float: left;
  margin-right: 15px;
  img {
    border-radius: 10px;
    border: 3px solid $gray-medium-dark;
  }
}

h2.spell-name, h2.passive-name {
  overflow: hidden;
  margin: 0px;
  padding: 0px;
}

p.cooldown, p.cost, p.range, p.invisible {
  margin-top: 0px;
  margin-bottom: 0px;
  margin-right: 0px;
}

.spell-q {
}
.spell-w {
}
.spell-e {
}
.spell-r {
}


//----------------------------------//
//               Lore               //
//----------------------------------//

div.lore {
  h2 {
    border-bottom: 3px solid $gray-medium-dark;
    margin-top: 0px;
    margin-bottom: 20px;
    padding-bottom: 5px;
  }
}

/*******************************************************/
/****************** missing data page ******************/
/*******************************************************/

p.note {
  font-size: 16px;
  color: white;
}

h3.missingdata {
  font-size: 30px;
  color: white;
  margin: 0px;
}

p.missingdata, p.unused {
  font-size: 16px;
  color: white;
  margin: 0px;
}

p.missingdata {
  &:hover {
    cursor: pointer;
  }
}

p.vars {
  margin-left: 20px;
}

/*******************************************************/
/********************* compare page ********************/
/*******************************************************/

div.champ-view {
  table.champ-halves {
    table-layout: fixed;
    width: 100%;
    border-spacing: 100px 0;
    tr {
      
    }
    td {
      vertical-align: top;
      div.jumbotron {
        margin-bottom: 0px
      }
    }
    td.text {
      white-space: normal;
    }
    td.half1, td.half2 {
      padding: 10px;
    }
    td.stat-label, td.general-stat {
      white-space: nowrap;
    }
    h1.invalid {
      white-space: normal;
    }
    td h3 {
      white-space: normal;
    }
  }
}

div.buttons {
  float: right;
}

.scrollable-menu {
  height: auto;
  max-height: 300px;
  overflow-x: hidden;
}

/*******************************************************/
/************************ items ************************/
/*******************************************************/

div.item-box {
  margin: 20px;
}

img.item {
  float: left;
  overflow: hidden;
  margin-right: 20px;
}

h2.item-name {
  margin-top: 0px;
  margin-bottom: 5px;
}

div.jumbotron p.item-total-cost {
  color: yellow;
}

div.jumbotron p.item-description {
  clear: left;
  padding-top: 20px;
}

/*******************************************************/
/*********************** contact ***********************/
/*******************************************************/

p.contact {
  color: white;
}

/*******************************************************/
/****************** changes in mobile ******************/
/*******************************************************/

@media (max-width: 768px) {
  
  /* Homepage */
  div.champ-img-square {
    p {
      font-size: 12px;
    }
    img {
      width: 18vw;
    }
  }
  
  /* Champion Page */
  div.champ-title {
    padding-bottom: 5px;
    margin-bottom: 20px;
    h1.champ-name,  h3.champ-title {
      display: block;
      float: none;
      text-align: center;
      margin: 0px;
    }
  }
  
  div.champ-details {
    div.champ-img {
      float: none;
      text-align: center;
      margin: 0px;
      margin-bottom: 20px;
    }
  }
  
  div.stats_summary {
    table {
      width: 100%;
    }
  }
  
  div.stats {
    padding: 0px;
  }
  
  table.stats {
    margin-top: 15px;
    width: 100%;
    p {
      font-size: 17px;
      line-height: 1.2;
    }
    tr.h-line {
      line-height: 1px;
      p {
        padding-bottom: 0px;
      }
    }
  }
  
  div.spell-img, div.passive-img {
    float: none;
    margin-right: 0px;
    text-align: center;
    padding-bottom: 20px;
  }

  div.spell-dynamics, div.passive-dynamics {
    float: none;
    h2.spell-name, h2.passive-name {
      text-align: center;
      padding-bottom: 10px;
    }
    p.invisible {
      display: none;
    }
  }

  div.spell-statics {
    float: left;
    padding-right: 0px;
    p.cost {
      float: left;
      clear: both;
    }
    p.cooldown {
      float: left;
    }
  }

  div.spell-bottom, div.passive-bottom {
    padding-top: 20px;
    margin-top: 5px;
    border-top: 3px solid $gray-medium;
    margin-left: 0px;
    margin-right: 0px;
  }

  div.lore {
    h2 {
      text-align: center;
    }
  }
  
  footer {
    ul {
      clear: left;
      padding-left: 0px;
      float: left;
    }
  }
  
  table.champ-halves {
    table.stats p {
      font-size: 14px;
    }
  }
}