<div class="container">
  <div class="champ-img jumbotron">
    <div>
      <img src="http://ddragon.leagueoflegends.com/cdn/img/champion/splash/Aatrox_0.jpg">
    </div>
    <div>
      <img src="http://ddragon.leagueoflegends.com/cdn/img/champion/splash/Aatrox_1.jpg">
    </div>
  </div>
</div>

<script type="text/javascript">
  $(document).ready(function(){
    $('.champ-img').slick({
      variableWidth: true
    });
  });
</script>