<tr class=<%= @stat_key %>><!-- stat_keys: hp, mp, armor, spellblock, hpregen, mpregen, attackdamage, attackspeed -->
  <td>
    <p class="stat-label"><%= @stat_name %></p>
    <p class="stat-numbers"><%= @stat_lv1 %>&mdash;<%= @stat_lv18 %></p>
  </td>
</tr>