<div class="container">
  <h2 class="champs-table-title">Champion Index</h2>
  <ul class="nav nav-pills nav-justified white stats">
    <li class="active"><a class="white stats" data-toggle="tab" href="#general">General Stats</a></li>
    <li><a class="white stats" data-toggle="tab" href="#detailedmin">Level 1 Stats</a></li>
    <li><a class="white stats" data-toggle="tab" href="#detailedmax">Level 18 Stats</a></li>
  </ul>
  <div class="tab-content">
    <%= render 'general_stats_table' %>
    
    <% @table_type = 'min' %>
    <%= render 'detailed_stats_table' %>
    
    <% @table_type = 'max' %>
    <%= render 'detailed_stats_table' %>
  </div>
</div>