<footer class="footer">
  <p>
    <font color="white">
    Champions isn't endorsed by Riot Games and doesn't reflect the views or opinions of Riot Games or anyone officially involved in producing or managing League of Legends. League of Legends and Riot Games are trademarks or registered trademarks of Riot Games, Inc. League of Legends © Riot Games, Inc.
    </font>
  </p>
  <br>
  <small>
    <a href="http://na.leagueoflegends.com/">League of Legends Website</a>
  </small>
  <nav>
    <ul>
      <li><%= link_to "Contact", '/contact' %></li>
      <li class="version"><%= link_to "Current Version: #{@current_version}", 'https://ddragon.leagueoflegends.com/api/versions.json' %></li>
    </ul>
  </nav>
</footer>