<footer class="footer">
  <small>
    <a href="http://na.leagueoflegends.com/">League of Legends Website</a>
  </small>
  <nav>
    <ul>
      <li><%= link_to "Contact", '/contact' %></li>
    </ul>
  </nav>
</footer>