<header class="navbar navbar-static-top navbar-inverse">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#eg-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <%= link_to "Champions", root_path, id: "logo" %>
    </div>
    <div class="collapse navbar-collapse" id="eg-collapse">
      <u1 class="nav navbar-nav navbar-right">
        <li><%= link_to "Index", champions_path %></li>
        <li class="version">v<%= @current_version %></p>
      </u1>
    </div>
  </div>
</header>